[Unit]
Description=Ironclaw service watchdog
Documentation=https://github.com/IronclawCustomTools/ironclaw

[Service]
Type=oneshot
Environment=IRONCLAW_WATCHDOG_SERVICE=ironclaw.service
Environment=IRONCLAW_WATCHDOG_LOG=/var/log/ironclaw-watchdog.log
ExecStart=/usr/local/sbin/ironclaw-watchdog
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ironclaw-watchdog
