[package]
name = "test-ptc-tool"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
wit-bindgen = "0.41.0"
serde_json = "1.0"

[lib]
crate-type = ["cdylib"]

[profile.release]
opt-level = "s"
lto = true
strip = true
codegen-units = 1

[workspace]
